@import "tailwindcss";

body{
  font-family: 'Press Start 2P';
  background: black;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.mainbtn {
  font-family: 'Press Start 2P';
  width: 365px;
  height: 49px;
  background: #F6A714;
  color: #4A3206;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 15px 0;
  font-size: 24px;
  border-radius: 12px;
}

.mainbtn:hover{
  background: #d99312;
}


h5 {
  font-size: 12px;
}

h1{
  font-size: 35.4px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 18px;
}


.input{
  font-family: 'Press Start 2P';
  height: 49px;
  width: 365px;
  background: #FDFBF7;
  color: black;
  border-radius: 12px;
  border: 2px solid #cacac9;
  padding: 10px;
  font-size: 24px;
  margin: 15px 0;
}