@import "tailwindcss";

body{
  font-family: 'Press Start 2P';
  background: black;
  display: flex;
  justify-content: center; 
  align-items: center;
}

h3 {
  font-size: 12px;
}

h1{
  font-size: 35.4px;
}