.container{
    background-image: url("/home.svg");
    background-size: cover;
    width: 402px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    width: 402px;
    height: 283px;
    color: black;
}

.nav h3{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bg{
    width: 402px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btngroup{
    padding-top: -100px;
    margin: 5vh 0;
}

.ranking{
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0 4px 8px white);
    padding: 0 10px;
  
}
.ranktitle {
    margin-left: 30px;
}

.monname{
    background: white;
    padding: 5px;
    opacity: 0.6;
}

.orderedList {
   margin-left: 10px;
    font-size: 10px;
    list-style-type: decimal; /* Default numbering (1, 2, 3) */
    padding-left: 20px; /* Space for the numbering */
    filter: drop-shadow(white 0 0 0.75rem)
  }

  .statusbar{
    width: 382px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .attack, .defense {
    width: 100%;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
  }
  
  .attackBar {
    height: 100%;
    background-color: #B4513C; 
    border-radius: 10px;
  }
  
  .defenseBar {
    height: 100%;
    background-color: #3C80B4;
    border-radius: 10px;
  }
  
  .stage {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .attacktitle {
   font-size: 12px;
    color: #B4513C;
  }

  .attackSkill, .defenseSkill{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

  }

  .defensetitle {
    
    color: #3C80B4;
    font-size: 12px;
  }
  
  
  .mon {
    margin: 0px 0;
  }

  .yourRank{
    font-weight: 900;
    font-size: 13px;

   
  }

.percentage{
    color: black;
}

.darkpanel {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* Darken background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.battleMenu {
  background-color: #F3E4CA;
  padding: 2rem;
  border-radius: 10px;
  width: 318px;
  height: 292px;
  position: relative;
  text-align: center;
}

.battleTopic {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.closebtn:hover {
  color: red;
}

.mainbtn {
  padding: 10px 10px;
  background-color: #F6A714;
  color: #4A3206;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  max-width: 250px;
  text-align: center;
  cursor: pointer;
}

.mainbtn2 {
    padding: 10px 10px;
    color: #F6A714;
    background-color: #4A3206;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    text-align: center;
    cursor: pointer;
  }

.mainbtn:hover {
  background-color: #cf8c11;
}

.inputField {
  padding: 0.75rem;
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  background: #FDFBF7;
  border: 1px solid #ccc;
  color: #4A3206;
}

.statusbg{
    background: #F3E4CA;
    width: 402px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trainbtn {
  font-family: 'Press Start 2P';
  width: 365px;
  height: 49px;
  background: #F6A714;
  color: #4A3206;
  border: 2px solid #d99312;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 15px 0;
  font-size: 24px;
  border-radius: 12px;
}

.bttbtn {
    font-family: 'Press Start 2P';
    width: 365px;
    height: 49px;
    color: #F6A714;
    background: #4A3206;
    text-align: center;
    border: 2px solid #7c5204;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
    font-size: 24px;
    border-radius: 12px;
  }

  .title{
    width: 402px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }