.container{
    background: white;
    width: 402px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    width: 402px;
    height: 283px;
    background: #D9D9D9;
    color: black;
}

.nav h3{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bg{
    width: 402px;
    height: 100vh;
    background: rgb(255, 175, 128);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btngroup{
    margin: 5vh 0;
}

.ranking{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;

}

.monname{
    background: white;
    padding: 5px;
}

.orderedList {
    font-family: "Inter";
    font-size: 18px;
    list-style-type: decimal; /* Default numbering (1, 2, 3) */
    padding-left: 20px; /* Space for the numbering */
  }

  .statusbar{
    width: 382px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .attack, .defense {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
  }
  
  .attackBar {
    height: 100%;
    background-color: #E55F42; 
    border-radius: 10px;
  }
  
  .defenseBar {
    height: 100%;
    background-color: #6042E5;
    border-radius: 10px;
  }
  
  .stage {
    font-family: "Inter";
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .attacktitle {
    font-family: "Inter";
    color: #ff5722;
  }

  .attackSkill, .defenseSkill{
    font-family: "Inter";
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  .defensetitle {
    font-family: "Inter";
    color: #3f51b5;
  }
  
  
  .mon {
    margin: 0px 0;
  }

  .yourRank{
    font-weight: 900;
    font-family: "Inter";
  }

.percentage{
    color: black;
}

.darkpanel {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* Darken background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.battleMenu {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 318px;
  height: 292px;
  position: relative;
  text-align: center;
}

.battleTopic {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.closebtn:hover {
  color: red;
}

.mainbtn {
  padding: 10px 10px;
  background-color: #b0b0b0;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  max-width: 250px;
  text-align: center;
  cursor: pointer;
}

.mainbtn:hover {
  background-color: red;
}

.inputField {
  padding: 0.75rem;
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
