.container {
    background-image: url("/signup.svg");
    background-size: cover;
    width: 402px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .input {
    width: 300px;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;
    background: #FDFBF7;
    color: black;
    border-radius: 12px;
    border: 2px solid #cacac9;
  }
  
  .passwordWrapper {
    position: relative;
    width: 300px;
  }
  
  .toggleButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 6px;
    color: #666;
    padding: 2px 6px;
  }
  
  .toggleButton:hover {
    color: #333;
    text-decoration: underline;
  }
  
  .mainbtn {
    width: 300px;
    padding: 12px;
    margin-top: 16px;
    background-color: #F6A714;
    color: #4A3206;
    border: 2px solid #d99312;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .mainbtn:disabled {
    background-color: #d99312;
    cursor: not-allowed;
  }
  
  .loginbtn {
    width: 300px;
    padding: 12px;
    margin-top: 16px;
    font-family:'Press Start 2P';
    background-color: #F6A714;
    color: #4A3206;
    border: 2px solid #d99312;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
  }

  .signupbtn {
    width: 300px;
    padding: 12px;
    margin-top: 16px;
    font-family:'Press Start 2P';
    background-color: #4A3206;
    color: #F6A714;
    border: 2px solid #7c5204;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
  }

  .errorMessage {
    color: #f44336;
    margin: 8px 0;
    text-align: center;
    width: 300px;
  }