
.container{
    background: #F3E4CA;
    width: 402px;
    height: 100vh;
    padding: 0 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.monbtn{
    background: #E9D19C;
    border-radius: 37px;
    border: 2px solid #b79a5a;
}

.monbtn:hover{
    background: #E9D19C;
}
.selected {
    background-color: #E9D19C;  
    border: 5px solid black;
  }
.monoptions {
    width: 362px;         
    height: fit-content;       
    display: flex;               
    flex-direction: row;        
    column-gap: 10px;      
    padding-top: 30px; 
    margin-bottom: 100px;       
  }
  
.avatar{
    width: 362px;
    height: fit-content;       
    display: flex;                    
   justify-content: center;
   margin: 70px 0;
}


  