.trainbg{
    background-image: url("/train.svg");
    width: 402px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 50px 20px 0 20px;
}
.containerH{
    background: #F3E4CA;
    width: 402px;
    height: 500px;
    margin-left: -20px;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    padding-top: 20px;
}

.container{
    background: #F3E4CA;
    width: 402px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}


.container h5{
    opacity: 30%;
}

.card {
    width: 365px;
    height: 145px;
    border-radius: 12px;
    background: #E9D19C;
    border: 2px solid #977f4a;
    padding: 10px;
    margin-top: 20px;
    transition: background-color 0.3s ease; 
}



.subject{
    color: black;
    font-size: 13px;
}

.clicked {
    border: 3px solid black;
  }



.monname{
    background: #E8E8E8;
    padding: 5px;
    margin-top: 2vh;
}

.mainbtn {
    width: 365px;
    height: 49px;
    background: #F6A714;
    color:#4A3206;
    border: 2px solid #d99312;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 12px;
  }

  .row {
    width: 365px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



.choicebutton {
    width: 365px;
    height: 49px;
    background: #F1F1F1;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px 0;
    font-size: 13px;
    border-radius: 12px;
    border: 2px solid black;
    transition: background-color 0.3s ease;
  }

  .choicebutton:hover{
    background: #a8a7a7;
  }

  
.monName{
    color: #3C80B4;
}
  
  .input_ans{
    height: 208px;
    width: 365px;
    background: #ECE6E6;
    color: black;
    border-radius: 12px;
    border: 2px solid black;
    padding: 10px;
    font-size: 13px;
    margin: 5vh 0;
  }
  .percentage{
    font-size: 13px;
  }
  .disabledBtn {
    pointer-events: none;
    opacity: 0.5;
    background-color: #F6A714; 
}
.question{
    margin-bottom: 20px;
    font-size: 13px;
}

.title{
    background:#FDFBF7;
    border: 2px solid black;
    border-radius: 12px;
    width: 374px;
    padding: 10px
}